<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StoreKitDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDD3D00A2E2E0E1800AF7EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD3D0202E2E0E1A00AF7EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD3D02A2E2E0E1A00AF7EC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
